MISTRAL_API=
TAVILY_API_KEY=
HF_TOKEN=

BASE_URL=https://agents-course-unit4-scoring.hf.space/
GAIA_USERNAME=
AGENT_CODE=

GAIA_DATASET_URL=https://huggingface.co/datasets/gaia-benchmark/GAIA/resolve/main/2023/validation
ATTACHMENTS_DIR=

CONTACT_EMAIL=

LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=https://cloud.langfuse.com
